<!DOCTYPE html>
<html ng-app="fox-chat">

<head>
    <title>fox-chat</title>
    <% include includes/styling.ejs %>
    <% include includes/scripts.ejs %>
    <% include includes/controllers.ejs %>
    <% include includes/directives.ejs %>
    <% include includes/services.ejs %>
</head>


<body>
    <div ng-view></div>
</body>

</html>