<div md-theme="customTheme" id="themeContainer" ng-controller="themeController as ctrl" ng-cloak>
    <single-page layout="column" ng-init="initPage()" ng-enter="mockFunction()" style="height: 100vh">
        <% include toolbar_view.ejs %>
        <% include messages_container_view.ejs %>
        <% include send_message_footer_view.ejs %>
    </single-page>
</div>
