<md-content flex="80" class="scrollable_content">
    <section>
        <md-list>
            <md-subheader class="md-primary header"><u>Room:</u> {{room}}, <span align="right"><u>Userame:</u> {{username}} </span> </md-subheader>
            <% include messages_view.ejs %>
        </md-list>
    </section>
</md-content>