<md-content flex="80" class="scrollable_content">
    <section>
        <md-list>
            <md-subheader class="md-primary header">Room: {{room}} <span align="right">Userame: {{username}} </span> </md-subheader>
            <% include messagesView.ejs %>
        </md-list>
    </section>
</md-content>