<md-footer flex="10">
    <md-input-container layout="row">
        <label>Message</label>
        <textarea class="message_text" ng-model="message" ng-enter="send(message)"></textarea>
    </md-input-container>
</md-footer>