<md-toolbar flex="10">
    <div class="md-toolbar-tools">
        <img id="header-img" src="img/fox-s.png" alt="">
        <h1>
            <span id="header-text">What does the fox say</span>
        </h1>
        <div flex></div>
        <% include toolbar_change_room_view.ejs %>

    </div>
</md-toolbar>